<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
 <head>
         <title>  Boris Bikes </title>
 </head>

</body>

<h1> Boris Bikes </h1>

   <div id="person"><h3>Mark</h3>
   <p id="personlog"> Needs a bike! </p>
   <button id="personbutton" data-pick='station'>Rent Bike</button>
   <button id="personbuttonreturn" data-pick='station'>Return Bike</button>
   <button id="personbuttonfall" data-pick='station'>Crash into a cat</button>
   </div>

   <div id="person2"><h3>Hemang</h3>
   <p id="personlog2"> Needs a bike! </p>
   <button id="personbutton2" data-pick='station'>Rent Bike</button>
   <button id="personbuttonreturn2" data-pick='station'>Return Bike</button>
   </div>
   <br><br>
   <div id="station"><h3>STATION</h3>
   <p id="stationlog"> No bikes in station </p>
   <button id="stationbutton" data-pick='bike'>Load Station</button>
   </div>

   

   


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="bike.js"></script> 
  <script src="person.js"></script> 
  <script src="station.js"></script>

  <script>

  var Person = new Player('Mark');
  var Person2 = new Player('Hemang');
  var Station = new Station('Makers');
  var Bike1 = new Bike();
  var Bike2 = new Bike();
  var Bike3 = new Bike();
  var Bike4 = new Bike();

  $('button#stationbutton').on('click', function() {
  	Station.dockBike(Bike1);
  	Station.dockBike(Bike2);
  	Station.dockBike(Bike3);
  	Station.dockBike(Bike4);
  	stationCounter();
  })

function stationCounter() {
	$("#stationlog").html("The station has " + countStation() + " bikes available");
};
 
 function countStation() {
	return Station.bikes.length;	
};

$('button#personbutton').on('click', function() {
    Person.rentaBike(Station);
    stationCounter();
  $("#personlog").html("I now have a bike");
});
 
$('button#personbuttonreturn').on('click', function() {
    Person.returnaBike(Station);
    stationCounter();
  $("#personlog").html("I've returned a bike");
});

$('button#personbuttonfall').on('click', function() {
    Person.fallover();
  $("#personlog").html("I now have a bike");
});


$('button#personbutton2').on('click', function() {
    Person2.rentaBike(Station);
    stationCounter();
  $("#personlog2").html("I now have a bike");
});
 
$('button#personbuttonreturn2').on('click', function() {
    Person2.returnaBike(Station);
    stationCounter();
  $("#personlog2").html("I've returned a bike");
});


  </script>

  

</body>